<div class="container-fluid">
        <input type="text" [(ngModel)] = "userInput" class="form-control" placeholder="Search Pokemon...">
        <div class="row">
            <div  *ngFor="let pokemonSinnoh of pokemonSinnohArray | filter:userInput; let i = index" class="col-sm-2 card mt-3 ">
                <a><img class="card-img-top" [src]= "pokemonSinnoh.sprite" [alt] = "pokemonSinnoh.name"></a>
                <div class="card-block">
                    <h5>{{ pokemonSinnoh.name | uppercase}}<span>#{{ pokemonSinnoh.number }}</span></h5>
                    <hr>
                </div>
                <button class=" btn btn-danger" (click) = "open(i)">Info</button>
            </div>
        </div>
    </div>
    <br>
<router-outlet></router-outlet>