<div class="jumbotron">
    <h1 class="display-4">Pokedex</h1>
    <p class="lead">An open source Pokédex contains info about pokemon from Kanto - Alola</p>
    <ul>
        <li>Built by <a href="https://angular.io/">Angular</a></li>
        <li>Data and sprites from the <a href="https://pokeapi.co/">Poke API</a></li>
        <li>Inspiration from <a href="https://ng-pokedex.web.app/pokemon">https://ng-pokedex.web.app/pokemon</a></li>
    </ul>
    <hr class="my-4">
    <h4>About me</h4>
    <div class="card border-dark text-white bg-danger mb-3" style="width: 38rem;">
            <img class="card-img-top" src="assets/image/pic.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Software Engineer</h5>
                <p class="card-text">My name is Huy Tran, I'm currently a Software Engineer At TCS. I'm a highly motivated and ambitious programmer who wants to become a professional software engineer. I'm a quick problem solver who use critical thinking to resolve issues and accomplish work in an expedient manner. </p>
            </div>
            <div class="card-footer">
                <h4>Follow me at</h4>
                <a href="#"><i class="fa fa-github" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
            </div>
    </div>
</div>

